@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  font-family: 'Montserrat', Sans-serif;
  width: 100%;
}
body{
  background-color: #EACC52 !important;
}
.index_h1{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.index_credits{
  width: 198px;
  margin-left: auto;
  margin-right: auto;
}
.index_form{
  margin-top: 50px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 10px;
  background-color: #C77BFD;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
}
button{
  font-family: cursive !important;
}
.index_tableau_scores{
  margin-top: 50px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 10px;
  background-color: #C77BFD;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
}
.tableau_h2{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  margin-bottom: 25px;
}
.tableau_des_scores{
  display: table; 
  width: 100%;
  text-align: center;
}
.jeu_form{
  margin-top: 80px;
}
.jeu_bouton{
  margin-top: 30px;
  font-family: 'Yeon Sung', cursive;
  font-size: 120%;
  display: block;
  margin-left: 40%;
  margin-right: 40%;
  background-color: #C77BFD;
  text-align: center;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
}
.jeu_input_radio{
  cursor: pointer;  
  width: 70%;
}
.jeu_label{
  font-size: auto;
}
.jeu_form_img{
  width: 40%;
}
@media (max-width: 730px) and (orientation){
  .jeu_form_valider{
    margin-top: 30px;
    color: #fff;
    background-color: #0D6EFD;
    width: 40%;
    transition: 0.3s;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 0px;
    margin-left: 30%;
  }
}
@media (min-width: 730px){
  .jeu_form_valider{
    margin-top: 30px;
    color: #fff;
    background-color: #0D6EFD;
    width: 20%;
    transition: 0.3s;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
    border-radius: 5px;
    border: 0px;
    margin-left: 40%;
  }
.jeu_form_valider:hover{
  background-color: #0B5ED7;
}
.jeu_h1{
  font-family: cursive;
  color: white;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.jeu_result{
  font-family: cursive;
  text-align: center;
  color: white;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 300%;
}
