@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  font-family: 'Montserrat', Sans-serif;
  width: 100%;
}
body{
  background-color: #EACC52 !important;
}
.index_h1{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}
.index_credits{
  width: 198px;
  margin-left: auto;
  margin-right: auto;
}
.index_form{
  margin-top: 100px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 10px;
  background-color: #C77BFD;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
}
button{
  font-family: cursive !important;
}
.index_tableau_scores{
  margin-top: 60px;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-bottom: 10px;
  background-color: #C77BFD;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
}
.tableau_h2{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  margin-bottom: 25px;
}
.tableau_des_scores{
  display: table; 
  width: 100%;
  text-align: center;
}
.jeu_form{
  margin-top: 80px;
}
.jeu_bouton{
  margin-top: 30px;
  font-family: 'Yeon Sung', cursive;
  font-size: xx-large;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #C77BFD;
}
.jeu_form_img{
  width: 17%;
}
.jeu_form_valider{
  background-color: #0d6efd;
}
.jeu_form_valider:hover{
  
}