@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  background-color: rgb(234, 204, 82);
  font-family: 'Montserrat', Sans-serif;
  width: 100%;
}
.index_h1{
  font-family: 'Yeon Sung', cursive;
  padding-left: 45%;
}
.index_credits{
  padding-left: 42%;
}
.index_form{
  padding-left: 43%;
}