@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
  background-color: rgb(234, 204, 82);
  font-family: 'Montserrat', Sans-serif;
  width: 100%;
}
.index_h1{
  font-family: 'Yeon Sung', cursive;
  text-align: center;
  margin-top: 60px;
}
.index_credits{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.index_form{
  margin-top: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color:rgb(234, 204, 82);
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
}
.btn btn-primary{
  font-family: 'Yeon Sung', cursive;
}